@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(217, 20%, 18%); /* Dark Grayish Blue */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: manrope;
  src: url(./assets/fonts/Manrope-VariableFont_wght.ttf);
}

.fontChange{
  font-family: manrope;
}

.fontWeightChange{
  font-weight: 800;
}

.lighterGrey{
  background-color: hsl(215, 18%, 29%); /* Grayish Blue */
}

.green{
  color: hsl(150, 100%, 66%); /* Neon Green */
}

.greenBG{
  background-color: hsl(150, 100%, 66%); /* Neon Green */
}

.white{
  color: hsl(193, 38%, 86%); /* Light Cyan */
}

.imageBg{
  background-image: url(./assets/images/pattern-divider-mobile.svg);
  width: 100%;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {      
  .imageBg{      
    background-image: url(./assets/images/pattern-divider-desktop.svg);
  } 
} 

/* 
.color{
  color: hsl(193, 38%, 86%); Light Cyan
  color: hsl(150, 100%, 66%); Neon Green
  color: hsl(217, 19%, 38%); Grayish Blue
  color: hsl(217, 19%, 24%); Dark Grayish Blue
  color: hsl(218, 23%, 16%); Dark Blue
} */